# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Output directories
H1N1_align/
H3N2_align/
H5N1_align/
Sars-Cov2_align/
slurm_outputs/
covid_align/
slurm_scripts/