# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Input directories
test_input_data/city_state.json
test_input_data/clinical_input_data_covid/
test_input_data/clinical_input_data_H3N2_USA/
test_input_data/clinical_input_data_H3N2/
test_input_data/clinical_input_data_H1N1_USA/
test_input_data/clinical_input_data_H1N1/
test_input_data/clinical_input_data_H5N1/
test_input_data/mpox_clade_2b/

# Output directories
H1N1_align/
H3N2_align/
H5N1_align/
slurm_outputs/
covid_align/
ecoli_align/
IIb_align/
slurm_scripts/
wastewater_metadata/