# Python
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Input directories
clinical_input_data_covid/
clinical_input_data_H1N1/
clinical_input_data_H3N2/
clinical_input_data_H5N1/
mpox_clade_2b/

# Output directories
H1N1_align/
H3N2_align/
H5N1_align/
Sars-Cov2_align/
slurm_outputs/
covid_align/
slurm_scripts/